<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-end align-items-center">
      <div class="col-4">
        <a class="btn btn-sm btn-outline-secondary shadow-sm" href="#"><span class="d-inline-block m-1">Sign up</span></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" routerLink="/"><h1 class="mb-0">JynxBlog</h1></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <div class="row row-cols-lg-auto g-2 align-items-center">
            <div class="col-12"><input type="text" class="form-control form-control-sm shadow-sm" placeholder="Search"></div>
            <div class="col-12">
              <a class="btn btn-sm btn-outline-secondary ml-2 shadow-sm" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="m-1" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
              </a>
            </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mb-3 py-2 border-bottom">
    <nav class="nav d-flex align-items-center p-0" [class.justify-content-evenly]="tags.length < 5" [class.justify-content-between]="tags.length >= 5">
      <a routerLink="/t/{{tag.id}}" *ngFor="let tag of tags"><h5 class="m-0"><span class="badge bg-secondary">{{ tag.tag }}</span></h5></a>
    </nav>
  </div>
</div>
