<article class="blog-post mx-1 mb-4 p-2 bg-light shadow-sm">
  <div class="mb-3 py-2">
    <h2 class="blog-post-title m-0 mb-3">{{ post.title }}</h2>
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <p class="blog-post-meta m-0">by <a href="#">{{ post.authorFullName }}</a> on {{ this.formatDate(post.createdAt) }}</p>
      </div>
      <div class="col-6 text-end">
        <app-tag-badge-list [tags]="post.tags" [size]=5 [shadow]="true"></app-tag-badge-list>
      </div>
    </div>
  </div>
  <div [innerHTML]="post.body"></div>
</article>
