<nav *ngIf="page != null">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="page.first"><a class="page-link" (click)="updatePage(page.number)">Previous</a></li>
    <li class="page-item" [class.active]="(page.number+1)==n" *ngFor="let n of getNumbers(this.page.totalPages)"><a class="page-link" (click)="updatePage(n)">{{ n }}</a></li>
    <li class="page-item" [class.disabled]="page.last"><a class="page-link" (click)="updatePage(page.number+2)">Next</a></li>
  </ul>
</nav>
