
<app-header></app-header>

<main class="container">

  <app-featured [posts]="featured"></app-featured>

  <div class="row px-2 mb-4">
    <div class="col-12 py-2 text-center bg-secondary"><h4 class="mb-0">Ad Space</h4></div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3>

      <div *ngIf="loading" class="text-center m-2"><p class="m-0">.... loading ....</p></div>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>

</main>

<app-footer></app-footer>
